<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user }}'s Bunk Feed</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jitterbunk/style.css' %}">
</head>
<body>
    <h1>{{ user }}'s Bunk Feed</h1>
    <div class="bunk-container">
        {% for bunk in bunks %}
        <div class="bunk">
            <h2>Bunk! <a href="{% url 'jitterbunk:personal' bunk.to_user.id %}">{{ bunk.to_user }}</a></h2>
            <p>From: <a href="{% url 'jitterbunk:personal' bunk.from_user.id %}">{{ bunk.from_user }}</a></p>
            <p>{{ bunk.time }}</p>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'jitterbunk:index' %}">Back</a>
</body>
</html>